@font-face {
	font-family: 'PlayfairDisplay';
	src: url('./assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Hind';
	src: url('./assets/fonts/Hind/Hind-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'HindLight';
	src: url('./assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'HindSemiB';
	src: url('./assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'PlayfairDisplay', 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
	margin: 10px 20px;
	font-family: 'Hind';
}

input {
	width: 400px;
	font-family: HindLight;
	color: black;
	border: none;
	background: transparent;
	border-bottom: 2px solid #f5f9f9;
	margin-top: 10px;
	margin-bottom: 30px;
}


input + span {
	position: relative;
	top: -60px;
	color: #d2d3d5;
 	transition: all 0.2s ease;
}

input:focus + span {
	font-size: 12px;
	top: -80px;
}

input:focus {
	border-color: #5b6065 !important;
}

input:not(:placeholder-shown) + span {
	font-size: 12px;
	top: -80px;
}

input + span + span {
	position: relative;
	left: 305px;
	bottom: 54px;
	color: #d2d3d5;
	cursor: pointer;
}

.errorText {
	color: #e64c80 !important;
}

.errorInput {
	border-color: #e64c80;
}

.initials {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-family: HindSemiB;
	background-color: #d9dce1;
	padding: 13px;
	font-weight: bold;
	color: #959da6;
}

.active {
	color: #323c46;
}