@font-face {
	font-family: 'PlayfairDisplay';
	src: url('./assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Hind';
	src: url('./assets/fonts/Hind/Hind-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'HindLight';
	src: url('./assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'HindSemiB';
	src: url('./assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'PlayfairDisplay', 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
	width: 400px;
	font-family: HindLight;
	color: black;
	border: none;
	background: transparent;
	border-bottom: 2px solid #f5f9f9;
	margin-top: 10px;
	margin-bottom: 30px;
}

input + span {
	position: relative;
	top: -60px;
	color: #d2d3d5;
 	transition: all 0.2s ease;
}

input:focus + span {
	font-size: 12px;
	top: -80px;
}

input:not(:placeholder-shown) + span {
	font-size: 12px;
	top: -80px;
}

input + span + span {
	position: relative;
	left: 305px;
	bottom: 54px;
	color: #d2d3d5;
	cursor: pointer;
}