@font-face {
	font-family: 'PlayfairDisplay';
	src: url('./assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Hind';
	src: url('./assets/fonts/Hind/Hind-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'PlayfairDisplay', 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
