@font-face {
	font-family: 'HindLight';
	src: url('../../assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'HindSemiB';
	src: url('../../assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

.Form {
	width: 70vw;
	font-family: Hind;
	margin-top: 22%;
}

.NoAccount,
.NoAccountMobile {
	color: #d2d3d5;
	font-family: HindLight;
	letter-spacing: -0.5px;
}

.NoAccount {
	position: absolute;
	right: 40px;
}

.NoAccountMobile {
	display: none;
}

.NoAccount a,
.NoAccountMobile a {
	color: #959ca4;
	text-decoration: none;
	text-transform: uppercase;
	font-family: HindSemiB;
	font-weight: bold;
	letter-spacing: -0.9px;
}

.Form div {
	margin: 0 auto;
	width: 400px;
}

.Form p {
	font-family: HindLight;
	color: #969da5;
	margin-bottom: 40px;
}

.Form h2 {
	font-weight: normal;
	margin-bottom: -10px;
	color: #303b44;
}

.Form input,
.Form button {
	display: block;
}

.Form button {
	background: #22d486;
	border-radius: 5px;
	font-family: HindSemiB;
	color: white;
	border: none;
	width: 200px;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-top: 40px;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.Form {
		margin-top: 44%;
	}

	.Form h2,
	.Form p {
		text-align: center;
	}

	.Form button {
		margin-left: auto;
		margin-right: auto;
		padding: 5% 0;
		width: 80%;
		font-size: 16px;
		margin-top: 60px;
	}

	.Form input {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.Form input + span {
		left: 5%;
	}

	.Form span + span {
		left: 66%;
	}

	.Form div {
		width: 100vw;
	}

	.NoAccount {
		display: none;
	}

	.NoAccountMobile {
		display: block;
		margin-top: -20px;
	}
}